rustfmt.toml filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
quiche.svg filter=lfs diff=lfs merge=lfs -text
deps filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
cargo2android.json filter=lfs diff=lfs merge=lfs -text
CODEOWNERS filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
patches filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
Cargo.toml filter=lfs diff=lfs merge=lfs -text
clippy.toml filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
Cargo.lock filter=lfs diff=lfs merge=lfs -text
Cargo.toml.orig filter=lfs diff=lfs merge=lfs -text
